.container{
    background-color: aqua;
}
@media (min-width:500px)and (max-width:900px){
.container{
    background-color: red;
    font-size: smaller;
}
}
@media screen and  (min-width:350px)and (max-width:500px){
    .container{
        background-color: rgb(0, 174, 255);
        font-size: small;
    }
}
/*
320 px - 480 px mobile
481px - 768px : tabs
769px - 1024 px : small screen laptops
1025 px - 1200 px : large screen
1021 - XL screen size

media type:
screen 
print 
all
speech -
*/